* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

a {
    text-decoration: none;
}

a:active {
    color: #F25822;
    /* Цвет активной ссылки */
}

.top {
    padding-bottom: 96px;
    background: #FFFFFF;
}

.header {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 533px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.header__menu {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.top__content {
    margin-top: 84px;
    margin-bottom: 162px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 39px;
}

.top__info {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title {
    width: 522px;
    margin-bottom: 17px;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.subtitle {
    width: 466px;
    margin-bottom: 37px;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.button1 {
    width: 150px;
height: 50px;

background: #F25822;
box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
border-radius: 50px;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.button2 {
    margin-left: 72px;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}

.img {
    width: 610px;
}

.top__logo {
    padding-top: 97px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.heading_item {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.item_text {
font-size: 15px;
line-height: 150%;
color: #666666;
}

.item_feature_big {
    background: #FFFFFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.item_link {
    font-size: 11px;
line-height: 150%;
color: #000000;
}

.services {
    background: #FAFAFA;
}

.service__title {
    font-size: 45px;
line-height: 53px;
color: #000000;
}

.service__text {
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #AAAAAA;
}
