* {
    margin: 0;
    padding: 0;
}

input[type="text"] {
    font-family: inherit;
    /* 1 */
    font-size: inherit;
    /* 1 */
    line-height: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
}

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    padding-top: 18px;
    padding-bottom: 19px;
    display: flex;
    gap: 41px;
    align-items: center;
}

.header__menu {
    padding-top: 26px;
    padding-bottom: 20px;
    display: flex;
    gap: 33px;
    align-items: center;
}

.promo {
    display: flex;
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.promo__img {
    width: 50%;
}

.slogan {
    padding-left: 64px;
}

.promo__info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 48%;
}

.slogan__title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.slogan__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.colortext {
    color: #F16D7F;
}

.offer {
    padding-top: 65px;
    padding-bottom: 96px;
    background: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
}

.item {
    position: relative;
    display: inline-block;
    text-align: center;
}

.item_big {
    grid-column: span 3;
}

.sale__content {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sale__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

}

.sale__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.heading {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.product_text {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    padding-top: 6px;
    padding-bottom: 48px;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    column-gap: 30px;
    row-gap: 25px;
    justify-content: center;
}

.item__product {
    background: #F8F8F8;
}

.text__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
}

.headline {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0
}

.desc {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.btn__browse-all {
    margin-top: 48px;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    background: #FFFFFF;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.btn__browse-all:hover {
    color: #FFFFFF;
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    background-color: #FF6A6A;
}

.feature {
    background-color: #222222;
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row;
}

.feature__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.feature__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.feature__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.subscribe_fon {
    width: 100vw;
    height: 448px;
}

.subscribe__box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/subscribe_fon.png);
    background-size: cover;
    background-position: center;
    height: 448px;
}

.subscribe__info {
    width: 350px;
    text-align: center;
    padding-right: 224px;
    padding-top: 96px;
    padding-bottom: 126px;
}

.info__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    padding-top: 30px;
}

.info__text_italic {
    font-style: italic;
}

.subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.form__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    padding-bottom: 32px;
}

.email__group {
    display: flex;
}

.email__input {
    border: 1px solid #E1E1E1;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 3rem;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
}

.email__group .email__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 2;
    background-color: #E1E1E1;
}

/* кнопка */
.email__button {
    background-color: #F16D7F;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid #F16D7F;
    padding: 1rem;
    border-radius: 3rem;
    transition: background-color 0.3s ease-in-out;
}

.email__button:active {
    background-color: #FFFFFF;
    color: #F16D7F;
}

.email__group .email__button {
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

.footer {
    background-color: #222224;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding-top: 30px;
    padding-bottom: 30px;
}

.icons {
    padding-top: 24px;
    padding-bottom: 23px;
}

.icon__link:hover path:first-child {
    fill: #F16D7F;
  }
  .icon__link:hover path:last-child {
    fill: #FFFFFF;
  }

@media (max-width: 1024px) {
    .header {
        padding: 0% 4% 0;
    }

    .slogan {
        padding-left: 4%;
    }

    .slogan__title {
        font-size: 44px;
        line-height: 53px;
    }

    .slogan__heading {
        font-size: 24px;
        line-height: 29px;
    }

    .offer {
        padding: 4rem 1rem 7rem;
        gap: 20px;
    }

    .product_text {
        padding-top: 3px;
        padding-bottom: 73px;
    }

    .items {
        padding: 0rem 1rem 0rem;
        gap: 1rem;
    }

    .desc {
        padding-top: 13px;
        padding-bottom: 18px;
    }

    .btn__browse-all {
        margin-top: 33px;
        margin-bottom: 71px;
    }
}

@media (max-width: 767px) {

    .personal_area {
        display: none;
    }

    .basket {
        display: none;
    }

    .promo {
        min-height: 363px;
        width: 100%;
    }

    .promo__img {
        display: none;
    }

    .slogan {
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .promo__info {
        margin: 50% 2% 50%;
    }

    .slogan__title {
        font-size: 38px;
        line-height: 46px;
    }

    .slogan__heading {
        font-size: 20px;
        line-height: 24px;
    }

    .offer {
        display: flex;
        flex-direction: column;
        padding-right: 4%;
        padding-left: 4%;
        gap: 2rem;
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .item_big img {
        min-height: 110px;
        object-fit: none;
    }

    .products {
        padding: 0% 4% 0;
    }

    .product_text {
        padding-bottom: 65px;
    }

    .btn__browse-all {
        margin-top: 41px;
        margin-bottom: 85px;
    }
}