* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.header {
    background: #222222;
}

.top {
    background: #F1E4E6;
}

.slogan__text {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    width: 377px
}

.fontsize {
    font-size: 32px;
}

.colortext {
    color: #F16D7F;
}
